# Dependencies
node_modules/

# Build artifacts
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env*.local

# IDE specific files
.idea/
.vscode/
*.sublime-*

# OS specific files
.DS_Store
Thumbs.db

out
*.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
build/linuxarm.json
build/linuxx64.json
build/macarm.json
build/macx64.json
build/winarm.json
build/winx64.json
runtime/**/*
